body {
  font-family: Arial, sans-serif;
  margin: 5;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  color: #333;
}

button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #005f5f;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions-dropdown {
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
